<div class="panel panel-default">
    <div class="panel-body">
        <a href="/topics/create" class="btn btn-success btn-block" aria-label="Left Align">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> 新建帖子
        </a>
    </div>
</div>

{{{ if .active_users }}}
<div class="panel panel-default">
<div class="panel-body active-users">

    <div class="text-center">活跃用户</div>
    <hr>
    {{{ range $active_user := .active_users }}}
        <a class="media" href="/user/show/{{{ .active_user.id }}}">
<div class="media-left media-middle">
        <img src="{{{ .active_user.avatar }}}" width="24px" height="24px" class="img-circle media-object">
</div>

<div class="media-body">
<span class="media-heading">{{{ .active_user.name }}}</span>
</div>
</a>
    {{{ end}}}

</div>
</div>
{{{ end}}}

{{{ if .links }}}
<div class="panel panel-default">
<div class="panel-body active-users">

    <div class="text-center">资源推荐</div>
    <hr>
{{{ range $link := .links }}}
        <a class="media" href="{{ .link.link }}">
<div class="media-body">
<span class="media-heading">{{ .link.title }}</span>
</div>
</a>
{{{ end}}}

</div>
</div>
{{{ end}}}