
{{{ if .topics }}}

<ul class="media-list">
    {{{ range $index, $topic := .topics }}}
<li class="media">
<div class="media-left">
        <a href="/user/{{{ $topic.User.Id }}}">
        <img class="media-object img-thumbnail" style="width: 52px; height: 52px;"
        src="{{{ $topic.User.Avatar }}}" title="{{{ $topic.User.Name }}}">
</a>
</div>

<div class="media-body">

<div class="media-heading">
        <a href="/topics/show/{{{ $topic.Id }}}" title="{{{ $topic.Title }}}">{{{ $topic.Title }}}</a>
        <a class="pull-right" href="/topics/show/{{{ $topic.Id }}}" ><span class="badge"> {{{ $topic.ReplyCount }}} </span></a>
</div>

<div class="media-body meta">
        <a href="/category/show/{{{ $topic.Category.Id }}}" title="{{{ $topic.Category.Name }}}">
    <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
{{{ $topic.Category.Name }}}
</a>

    <span> • </span>
        <a href="/user/{{{ $topic.User.Id }}}" title="{{{ $topic.User.Name }}}">
    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
{{{ $topic.User.Name }}}
</a>
    <span> • </span>
    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
<span class="timeago" title="最后活跃于">{{{ $topic.UpdatedAt }}}</span>
</div>

</div>
</li>
    {{{ end }}}
</ul>

{{{ else }}}
<div class="empty-block">暂无数据 ~_~ </div>
{{{ end }}}
