
{{{ template "web/layouts/header.html" . }}}


<div class="container">
    <div class="row">
        <div class="col-lg-9 col-md-9 topic-list">

            <div class="panel panel-default">

                <div class="panel-heading">
                    <ul class="nav nav-pills">
                        <li class="{{{ if ne .order "recent"  }}}active{{{ end }}}"><a href="/topics/default">最后回复</a></li>
                        <li class="{{{ if eq .order "recent" }}}active{{{ end }}}"><a href="/topics/recent">最新发布</a></li>
                    </ul>
                </div>

                <div class="panel-body">
                <!-- 话题列表 -->
                    {{{ template "web/topic/_topic_list.html" . }}}
                <!-- 分页 -->
                    {{/*{!! $topics->render() !!}*/}}
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 sidebar">
            {{{ template "web/topic/_sidebar.html" . }}}
        </div>
    </div>
</div>


{{{ template "web/layouts/footer.html" .}}}