</div>
<footer class="footer">
    <div class="container">
        <p class="pull-left">
            由 <a href="http://weibo.com/u/3763629274?is_hot=1" target="_blank">auroraLZDF</a> 设计和编码 <span
                style="color: #e27575;font-size: 14px;">❤</span>
        </p>

        <p class="pull-right"><a href="mailto:{{{ config.email }}}">联系我们</a></p>
    </div>
</footer>

<!-- Scripts -->
{{{ "/static/js/jquery.min.js" | assets_js }}}
{{{ "/static/js/common.js" | assets_js }}}
{{{ "/static/js/layer/layer.js" | assets_js }}}
{{{ "/static/js/index.js" | assets_js }}}
</body>
</html>