<!DOCTYPE html>
        <html lang="{{{ config.lang }}}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSRF Token -->
    <meta name="_xsrf" content="{{{ .xsrf_token }}}" />

    <title>{{{ config.title }}}</title>
    <link rel="icon" href="/static/images/favicon.ico">

    <!-- Styles -->
{{{ "/static/css/index.css" | assets_css }}}
    <!-- Scripts -->
{{{ "/static/js/jquery.min.js" | assets_js }}}
</head>
<body>
        <!-- 全局弹层 -->

        <!-- 全局弹层 -->

<nav class="navbar navbar-default navbar-static-top">
<div class="container">
    <div class="navbar-header">

        <!-- Collapsed Hamburger -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <!-- Branding Image -->
        <a class="navbar-brand" href="/">
            goBBS
        </a>
    </div>

<div class="collapse navbar-collapse" id="app-navbar-collapse">
    <!-- Left Side Of Navbar -->
    <ul class="nav navbar-nav">
        <li {{{ if eq .category_active 0}}}class="active"{{{end}}}><a href="/topics">话题</a></li>
        <li {{{ if eq .category_active 1}}}class="active"{{{end}}}><a href="/categories/show/1">分享</a></li>
        <li {{{ if eq .category_active 2}}}class="active"{{{end}}}><a href="/categories/show/2">教程</a></li>
        <li {{{ if eq .category_active 3}}}class="active"{{{end}}}><a href="/categories/show/3">问答</a></li>
        <li {{{ if eq .category_active 4}}}class="active"{{{end}}}><a href="/categories/show/4">公告</a></li>
    </ul>

    <!-- Right Side Of Navbar -->
<ul class="nav navbar-nav navbar-right">
    <!-- Authentication Links -->
{{{ if .uInfo }}}
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
    <span class="user-avatar pull-left" style="margin-right:8px; margin-top:-5px;">
        <img src="
        {{{ if .uInfo.avatar }}} {{{ .uInfo.avatar }}} {{{ else }}}
            https://fsdhubcdn.phphub.org/uploads/images/201709/20/1/PtDKbASVcz.png?imageView2/1/w/60/h/60
        {{{ end }}}"
        class="img-responsive img-circle" width="30px" height="30px">
    </span>
{{{ .uInfo.name }}}<span class="caret"></span>
</a>

    <ul class="dropdown-menu" role="menu">
        <li>
            <a href="/user/{{{ .uInfo.id }}}">个人中心</a>
        </li>
        <li>
            <a href="/logout">退出登录</a>
        </li>
    </ul>
</li>
{{{ else }}}
    <li><a href="/login">登录</a></li>
    <li><a href="/register">注册</a></li>
{{{ end }}}
</ul>
</div>
</div>
</nav>

<div id="app" class="page">